{% extends 'base.html' %}
{% block content %}
    <style>
        .center-container, div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    </style>


    <div class="center-container">
        <form method='POST'>
        {% csrf_token %}
            <table>
                {{ login_form.as_table }}

            </table>
            <input type='submit' value='Entrar'> 
        </form>
        </div>

        <div style="margin-top: 20px;">
            <input type='button' name='Cadastro' value='Realizar cadastro'/>   
            <div>Não possui cadastro?</div>
        </div>
</div>
 
{% endblock %}